@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@keyframes animacioTitolCap{
    0%{
        transform:scale(1);
    }
    40%{
        transform: scale(1.1);
    }
}

/* Animació de les miniatures de les diferents categories */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* Animació al passar el ratolí per sobre */
@keyframes animacioCat{
    0%{transform: scale(1);}
    80%{transform: scale(1.2);}
}


html {
    min-height: 100%;
    position: relative;
}

a{
    color: white;
    text-decoration-line: none;
}

a:hover{
    color: #888888;
}
.opcioActiva{
    color: aqua;
}

h1{
    font-family: 'Russo One', sans-serif;
  }

.general {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-image: url('../img/fons/fonsWeb.jpg');
}

#cos {
    background-position: center;
    background-repeat: repeat;
}

header {
    z-index: 10;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #333333;
    background-image: url('../img/fons/fonsCap.jpg');
    text-align: center;
    position: fixed;
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.containerLogoTitol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titolCap {
    animation: animacioTitolCap  2s infinite;
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 20pt;
}

#imatgeCap{
    width: 100px;
}

#barraMenu {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.opcio {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

main{
    margin-top: 80px;
    margin-bottom: 100px;
}


#containerCat {
    animation: slidein 3s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: linear-gradient(black,#aa2222);
    opacity: 90%;
    margin: auto;
    margin-bottom: 0px;

}

.imgCat {
    max-height: 65vh;
    max-width: 100%;
    object-fit: cover;
}

.titolCat {
    color: white;
}


.llista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

}

.puntCat {
    background-color: #555555;
    margin: 10px;
    display: block;
    list-style-type: none;
    width: 160px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}


.puntCat:hover{
    animation: animacioCat 1s;
    background-color: #888888;
}

.puntActiu {
    background-color: antiquewhite;
    margin: 10px;
    display: block;
    list-style-type: none;
    width: 160px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.puntTitol {
    font-size: 0.8em;
    color: black;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.miniatura {
    border-radius: 5px;
    height: 100px;
    width: 150px;
    object-fit: cover;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%,100% 100%, 0% 100%);
}

.miniatura:hover{
    cursor: pointer;
}

.containerSongs {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.song {
    background-color: #555555;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.songGrup{
    font-size: 1rem;
    color: aqua;
    font-weight: bold;
    font-size: 20px;
}

.song .videoSong {
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 350px;
}

.dadesSong {
    vertical-align: text-top;
    padding: 10px;
    max-width: 350px;
    height: 100%;
}

.dadesSong ul li {
    font-size: 0.9rem;
    color: bisque;
    list-style-type: none;
    margin-top: 5px;
}

.dadesSong ul li p {
    margin: 0;
    margin-top: 5px;
}

.dadesSong ul li a {
    display: block;
    width: 100%;
    color: bisque;
    font-size: 24px;
    height: 40px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: gray;
    margin-left: 0;
    padding-top: 2.5%;
    text-align: center;
}


.titolSong {
    color: white;
    font-size: 24px;
    text-align: left;
}

footer {
    margin-top: 20px;
    background-color: #333333;
    background-image: url('../img/fons/fonsCap.jpg');
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -8px 8px 0px rgba(0, 0, 0, 0.15);
}
#imatgePeu{
    width: 100px;
}

footer div {
    text-align: center;
    flex: 1 1 auto;
    padding-right: 20px;
}

/*Mòbil ------------*/
/* Aquí podem veure els canvis per pantalles petites, si hem utilitzat displays flex podem canviar
la direcció de files en pantalles grans a columnes per a pantalles petites
altres retocs serien treure els paddings i marges per aprofitar millor els mòbils */

/*pantalles fins a 700px*/
@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
        height: 150px;
        align-items: center;
        justify-content: stretch;
        background-image: url('../img/fons/mobil/fonsCap.jpg');
    }

    .general{
        background-image: url('../img/fons/mobil/fonsWeb.jpg');
    }

    #imatgeCap{
        padding-left: 0px;
        padding-right: 0px;
    }

   
    #titolCap{
        color: white;
        padding: 0px;
        text-transform: uppercase;
    }
   
    #menu{
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    
    .opcio{
        font-size: 24px;
    }

    #containerCat {
        margin: 0;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        width: 100%;
    }

    .puntCat {
        width: 42%;
        margin-right: 5px;
        margin-left: 5px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .puntActiu {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        width: 85%;
    }

    .miniatura{
        width: 90%;
        height: 100px;
        object-fit: cover;
    }

    main{
        margin-top: 150px;
        margin-bottom: 500px;
    }




    footer{
        font-size: 24px;
        padding-top: 20px;
        flex-direction: column;
    }
    footer div{
        width: 100%;
    }
    .llistaPeu li{
        padding-top: 15px;
    }
    .despPeu{
        font-size: 24px;
    }
}
